<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-center text-white bg-dark mb-3">
                <div class="card-body text-warning">
                    <h1 class="card-title"><i class="fab fa-servicestack"></i> Le Cocine</h1>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text">The first "Le Cocine" was opened in Isola della Scala, in the region of VERONA, in 2002.
                                The idea of opening a Risotteria in New York came in order to make this typical and traditional
                                italian dish known and cooked by us, with the rice we produce and with the typical old style
                                techniques used in Isola della Scala. The New York Restaurant "Le Cocine NYC" is
                                fulfilling the Melotti Family dream. It has been located in the very trendy East Village
                                in the city of Manhattan, since 2013. Risotteria Melotti is also in ROME!</p>
                            <a [routerLink]="['/menus']" class="btn btn-danger mb-3">CHECA EL MENU</a>
                            <div>
                            </div>
                            <img class="card-img" src="https://cdn.aarp.net/content/dam/aarp/food/recipes/2014-12/1140-lobster-gratin-recipe-esp.imgcache.rev51bdb3017e589c0ad8a170cdcc6f32f2.jpg"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>